<!-- <div class="col-md-12 forecast">
  <div class="">
    <h1>{{ ::place.location.city }}, {{ :: place.location.region }}</h1>
  <div class="col-md-3">
      <h1>{{ ::place.item.condition.temp }}&#x2109;</h1>
  </div>
  <div class="col-md-9">
    <img src="http://l.yimg.com/a/i/us/we/52/{{place.item.condition.code}}.gif"/>
      <br>
      <small>{{ ::place.item.condition.text }}</small>
  </div>
    <div class="forecast-day" ng-repeat="forecast in place.item.forecast | limitTo: 5 : 2">
      <p><strong>{{ forecast.day }}</strong></p>
      <p>{{ forecast.high }}&#x2109; / {{ forecast.low }}&#x2109;</p>
      <p><img src="http://l.yimg.com/a/i/us/we/52/{{forecast.code}}.gif"/></p>
    </div>
  </div>
</div> -->

  <div class="forcast-widget">
      <h2>{{ ::place.location.city }}, {{ :: place.location.region }}</h2>
      <div class="conditions">
        <div class="temperature">{{ ::place.item.condition.temp }}&deg;</div>
        <div class="forecast-icon">
          <p><img src="http://l.yimg.com/a/i/us/we/52/{{place.item.condition.code}}.gif"/></p>
          <p><small class="condition-text">{{ ::place.item.condition.text }}</small></p>
        </div>
      </div>
      <div class="forecast-display">
        <ul class="forecast-list">
          <li class="forecast-day" ng-repeat="forecast in place.item.forecast | limitTo: 5 : 1">
            <span><strong>{{ forecast.day }}</strong></span><br>
            <span><small>{{ forecast.high }}&deg; / {{ forecast.low }}&deg;</small></span>
          </li>
        </ul>
      </div>
  </div>
